extends ../layout/index 
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="imagen de nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem exercitationem aspernatur ea inventore quasi aliquam doloremque aliquid unde at eveniet deleniti expedita, voluptates repellat.
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur reiciendis enim vitae iste labore. Eligendi quisquam ipsum quae cumque ut? Veritatis culpa deserunt inventore et itaque voluptas! Corporis eum iure ab? Impedit enim ut, unde adipisci quo quam ipsum excepturi.
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit delectus sequi nostrum tenetur doloribus, veniam numquam corporis, dolores sint, neque officia hic qui accusantium mollitia laudantium ratione dolorem velit? Earum ratione repellendus officiis molestias doloremque et molestiae expedita atque quidem!
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_seguridad.svg", alt="Mas sobre nosotros")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, distinctio?
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_destinos.svg", alt="Mas sobre nosotros")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, distinctio?
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_precios.svg", alt="Mas sobre nosotros")
                    h2.mb-4 Mejor Precio
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, distinctio?